.about-page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 50px;
  background-color: lightblue;
}

.about-info {
  padding: 30px;
  background-color: aliceblue;
}

.account-form {
  padding: 30px;
  background-color: aliceblue;
}
